<template>
  <div>
      <slot></slot>
  </div>
</template>

<script>
export default {
  activated() {
    console.log("Blue Activated");
  },
  deactivated() {
    console.log("Blue deactivated");
  }
};
</script>

<style scoped>
div {
  border: 1px solid blue;
  background-color: lightblue;
  padding: 30px;
  margin: 20px auto;
  text-align: center;
}
</style>