<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <br />
        <button class="btn btn-primary" @click="changeComponent('appBlue')">Load Blue Template</button>
        <button class="btn btn-success" @click="changeComponent('appGreen')">Load Green Template</button>
        <button class="btn btn-danger" @click="changeComponent('appRed')">Load Red Template</button>
        <hr />

        <keep-alive>
          <component :is="selectedComponent">
            <p>{{text}}</p>
          </component>
        </keep-alive>
      </div>
    </div>
  </div>
</template>

<script>
import Blue from "./components/Blue.vue";
import Green from "./components/Green.vue";
import Red from "./components/Red.vue";

export default {
  components: {
    appBlue: Blue,
    appGreen: Green,
    appRed: Red
  },
  data() {
    return {
      selectedComponent: "",
      text: ""
    };
  },
  methods: {
    changeComponent(text) {
      this.selectedComponent = text;
      this.text = `Selected Component ${text}`;
    }
  }
};
</script>

<style>
</style>
